.ModuleMemberSignUpDefault ul.stepbar {width:100%; height:60px; margin:0px 0px 20px 0px; list-style:none; font-size:0px; display:table; table-layout:fixed;}
.ModuleMemberSignUpDefault ul.stepbar li {width:100%; height:60px; display:table-cell; background:#c0c3c4; vertical-align:middle; border:1px solid #aeb0b3; box-sizing:border-box; border-right:0px; text-align:center; color:#fff; font-weight:bold;}
.ModuleMemberSignUpDefault ul.stepbar li:first-child {border-radius:4px 0px 0px 4px;}
.ModuleMemberSignUpDefault ul.stepbar li:last-child {border-radius:0px 4px 4px 0px; border-right:1px solid #aeb0b3;}
.ModuleMemberSignUpDefault ul.stepbar li i.fa {color:#eee; font-size:20px; height:60px; vertical-align:middle; display:inline-block; line-height:60px; margin-right:5px;}
.ModuleMemberSignUpDefault ul.stepbar li span {font-size:13px; height:60px; vertical-align:middle; display:inline-block; line-height:58px;}
.ModuleMemberSignUpDefault ul.stepbar li.current {border-color:#363739; background:#4c4f53; color:#ffe333;}
.ModuleMemberSignUpDefault ul.stepbar li.current i.fa {color:#fff;}

.ModuleMemberSignUpDefault h4 {font-size:13px; font-weight:bold; display:block; padding:10px 0px; border-bottom:2px solid #373737; background:#fff;}
.ModuleMemberSignUpDefault .terms {border:1px solid #e5e5e5; padding:10px; line-height:1.6; height:400px; overflow-y:scroll;}
.ModuleMemberSignUpDefault .buttons {margin-top:10px; text-align:right;}

.ModuleMemberSignUpDefault .formTable {table-layout:fixed; width:100%; border-spacing:0px; border-collapse:collapse;}
.ModuleMemberSignUpDefault .formTable .info {padding:10px; line-height:1.8; background:#e4f5fd; border-bottom:1px solid #98c1e5; color:#4680ae;}
.ModuleMemberSignUpDefault .formTable td.label {width:120px; background:#f4f4f4; font-size:12px; font-weight:bold; padding:0px 10px;}
.ModuleMemberSignUpDefault .formTable td.input {width:100%;}
.ModuleMemberSignUpDefault .formTable td.input .inputBlock {font-size:12px; line-height:1.6; background:#fff; padding:8px; border-left:1px dotted #ccc;}
.ModuleMemberSignUpDefault .formTable td.input .inputBlock input {max-width:100%;}
.ModuleMemberSignUpDefault .formTable tr.split {background:#e5e5e5; height:1px; font-size:0px;}
.ModuleMemberSignUpDefault .formTable tr.splitBottom {height:4px;}
.ModuleMemberSignUpDefault .formTable tr.splitBottom div {border-top:1px solid #ccc; background:#f4f4f4; height:3px;}

.ModuleMemberSignUpDefault .formTable td.input .box .helpBlock {margin-top:5px; line-height:1.6;}

@media (max-width:767px) {
	.ModuleMemberSignUpDefault ul.stepbar li i.fa {display:block; margin-right:0px; height:20px; line-height:20px; margin-top:10px;}
	.ModuleMemberSignUpDefault ul.stepbar li span {display:block; height:30px; line-height:30px;}
	.ModuleMemberSignUpDefault .formTable td.label {width:80px; line-height:1.6;}
	.ModuleMemberSignUpDefault .formTable td.input .btn {display:block; margin-top:5px; width:100%;}
}