.ModuleMemberSocialBox {margin:100px auto; width:95%; max-width:400px;}
.ModuleMemberSocialBox h4 {display:block; text-align:center; font-size:16px; font-weight:200; margin-bottom:20px;}
.ModuleMemberSocialBox .loginBox {display:block; background:#f7f7f7; padding-top:20px; box-shadow:0px 1px 2px rgba(0,0,0,0.3);}
.ModuleMemberSocialBox .loginBox > .photo {margin:20px auto; width:98px; height:98px; border-radius:50px; border:1px solid #ddd; overflow:hidden;}
.ModuleMemberSocialBox .loginBox > .photo img {width:98px; height:98px;}
.ModuleMemberSocialBox .loginBox ul {display:block; width:100%; list-style:none; margin-top:40px;}
.ModuleMemberSocialBox .loginBox ul li {display:block; padding:10px 20px; border-top:1px solid #ddd; font-size:0px; cursor:pointer;}
.ModuleMemberSocialBox .loginBox ul li:hover {background:#e5e5e5;}
.ModuleMemberSocialBox .loginBox ul li > div {display:inline-block; height:60px; display:inline-block; vertical-align:middle;}
.ModuleMemberSocialBox .loginBox ul li > div.photo {width:60px; box-sizing:border-box; border:1px solid #ddd; border-radius:30px; overflow:hidden;}
.ModuleMemberSocialBox .loginBox ul li > div.photo img {width:60px; height:60px;}
.ModuleMemberSocialBox .loginBox ul li > div.info {height:40px; padding:10px;}
.ModuleMemberSocialBox .loginBox ul li > div.info div {height:20px; line-height:20px; font-size:12px;}
.ModuleMemberSocialBox .loginBox ul li > div.info div.name {font-size:16px; font-weight:bold; color:#4383ea;}
.ModuleMemberSocialBox .loginBox ul li > div.info div.email {font-family:OpenSans; color:#666;}